.avaliacoes-form {
  max-width: 700px;
  margin-top: 100px;
}

.input-lg {
  font-size: 1.1rem;
  padding: 0.9rem;
  height: auto;
}

.form-label {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.btn-avaliar {
  background-color: #876845;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  height: 70px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-voltar {
  background-color: #876845;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  height: 70px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-avaliar:hover {
  background-color: #6e5538;
}

.btn-voltar:hover {
  background-color: #6e5538;
}